extend base

block append meta
  // Meta Infomation
  title= meta.title
  meta(name="description", content=meta.description)
  meta(name="keywords", content=meta.keywords)

  // Facebook OGP
  meta(name="og:title", content=meta.title)
  meta(name="og:description", content=meta.description)
  meta(name="og:type", content="website")
  meta(name="og:url", content=meta.urlIndex)
  meta(name="og:image", content=meta.ogImage)
  meta(name="og:site_name", content=meta.title)

  // Twitter Card
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:title", content=meta.title)
  meta(name="twitter:description", content=meta.description)
  meta(name="twitter:image:src", content=meta.ogImage)

block content
  main(class=meta.slug)
    img#mari53(src="/img/mari53.jpg", alt="mari53")
    img#mask(src="/img/mask.png", alt="mask")
    img#shadow(src="/img/shadow.png", alt="mask")
    canvas#mas9edMari53(width=common.mari53.width, height=common.mari53.height)
    .wrapper
      #ki33PlayerDom
      canvas#hi1032u2ruMari53(width=common.video.width, height=common.video.height)

block append stylesheet
  link(href="css/index.css", rel="stylesheet")

block append script-body
  script(src="js/index.js")
